html,
body {
  height: 100%;
  background-color: #f5f5f5;
}
.input-group > button {
  padding: 0px;
}
.Edit-close:hover,
.input-group > button:hover {
  color: black !important;
}
#root {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: nowrap;
}
.col {
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rounded {
  border-radius: 10px !important;
}
