.color-picker {
  color: #6c757d;
  margin: 2px;
  padding: 2px !important;
  height: fit-content;
}

.color-picker:hover {
  color: black;
  cursor: pointer;
  background: #a6b3be73;
  border-radius: 50% !important;
  transform: none !important;
}
.color-bucket:hover {
  cursor: pointer;
}
.color-bucket {
  height: 40px;
  width: 40px;
  margin: 2px;
  height: fit-content;
}
.color-picker {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.color-picker .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149); /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 40px;
  cursor: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  gap: 1px;
  row-gap: 4px;
  left: 0;
  padding: 3px;
}

.color-picker:focus .tooltiptext {
  visibility: visible;
}
.mini-circle[data-color] {
  width: 30px;
  height: 30px;
  background-color: "red";
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149); /* Position the tooltip */
}
.mini-circle.selected {
  border: 1px solid black;
}
[data-color="#fff475"] {
  color: black !important;
  background-color: #fff475 !important;
}
[data-color="#ccff90"] {
  background-color: #ccff90 !important;
}
[data-color="#e8eaed"] {
  background-color: #e8eaed !important;
}
[data-color="#cbf0f8"] {
  background-color: #cbf0f8 !important;
}
[data-color="#fff"] {
  background-color: #fff !important;
}
[data-color="#d3bfdb"] {
  background-color: #d3bfdb !important;
}

#d3bfdb .mini-circle:hover {
  border: 1px solid black;
}
