.Editable-Note > .Delete-Btn {
  height: fit-content;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  color: #6c757d;
  max-width: 10%;
  /* width: 10%; */
  text-align: end;
  vertical-align: unset;
  margin-top: 0;
  margin-left: auto;
}
.Editable-Note > .Delete-Btn:hover {
  transform: scale(1.1);
  color: #f8f9fa;
}
