.Edit-Header {
  font-weight: 500;
  line-height: 1.2;
  border: none;
  margin-bottom: 3px;
  font-size: 20px;
  background: transparent;

  border-bottom: 3px solid black;
}
.Edit-Text {
  border-color: #f8f9fa;
  border-radius: 10px;
  width: 250px;
  margin-left: 20px;
  height: auto;
  margin-bottom: 2px;
  border: none;
  background: transparent;

  border-bottom: 3px solid black;
}
